<!-- templates/roles/editar_rol.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Rol</title>
    <link rel="stylesheet" type="text/css" href="{% static 'log/stylessEditRol.css' %}">
</head>
<body>
    <div class="container">
        <h1>Editar Rol</h1>
        <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="descripcion" value="{{ rol.descripcion }}" required>
            <button type="submit">Guardar cambios</button>
        </form>
    </div>
</body>
</html>
