<!-- templates/usuarios/crear_usuario.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Crear Usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'log/stylesCreateUser.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Crear Usuario</h1>
        <form method="POST">
            {% csrf_token %}
            <label>Nombre:</label>
            <input type="text" name="nombre" required>
            <label>Usuario:</label>
            <input type="text" name="user" required>
            <label>Contraseña:</label>
            <input type="password" name="password" required>
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>
